{% embed 'partials/base.html.twig' %}

	{% set collection = page.collection() %}

	{% block content %}  
		<section class="page noticias">
			{% for noticia in collection %}
				<hr>
				<div class="noticia">
					<a class="title" href="{{ noticia.url }}">
						<h2>{{ noticia.title }}</h2>
					</a>
					<p class="date">{{ noticia.date|date("d/M/Y") }}</p>

					{% set img = noticia.media.images|first %}
					
					{% if img %}
						<a class="image" href="{{ noticia.url }}">
							<img src="{{ img.cropResize(250, 250).url }}">
						</a>					
					{% endif %}
					
					<p class="content">{{ noticia.summary }}</p>				
				</div>
			{% endfor %}
        	
        	{% if config.plugins.pagination.enabled and collection.params.pagination %}
            	{% include 'partials/pagination.html.twig' with {'pagination':collection.params.pagination} %}
            {% endif %}
		</section>
	{% endblock %}

{% endembed %}


