{% embed 'partials/base.html.twig' %}

	{% set collection = page.collection() %}

	{% block content %}  
  		<section class="page voluntarios">  		
            <ul id="da-thumbs" class="da-thumbs">
			{% for voluntario in collection %}
			  	{% set img = voluntario.media.images|first %}
				<li>
					<a href="{{ voluntario.url }}">
						<img src="{{ theme_url }}/images/loading_spinner.gif" alt="" data-echo="{{ img.resize(450, 300).url }}">
						<div class="texto">
							<p class="nome">{{ voluntario.title }}</p>
							<p class="zona">{{ voluntario.header.zona }}</p>
						</div>
					</a>
				</li>
			{% endfor %}            	
            </ul>
        </section>		   		
	{% endblock %}
{% endembed %}