{% embed 'partials/base.html.twig' %}
{% block content %}  
{% macro createSelectEntry(selected, value) %}
	{% if selected == "true"  %}
		<option value="{{ value }}" selected="selected">{{ value }}</option>
	{% else %}			
		<option value="{{ value }}">{{ value }}</option>
	{% endif %}
{% endmacro %}

{% set collection = page.collection() %}
{% set zona = uri.query('zona') %}

{% if not zona %}
	{% set zona = "todas" %}
{% endif %}

	<section class="page voluntarios"> 
		<div class="drop-down">
			<label for="zona">Escolha a Zona:</label>
			<select id="zona">
				{% if zona|lower == "todas"  %}		
					{{ _self.createSelectEntry("true", "todas") }}
				{% else %}	
					{{ _self.createSelectEntry("false", "todas") }}
				{% endif %}

				{% for i in page.header.zonas %}    	
		    		{% if i|lower == zona|lower  %}		
						{{ _self.createSelectEntry("true", i) }}
					{% else %}	
						{{ _self.createSelectEntry("false", i) }}
					{% endif %}
				{% endfor %}
			</select>
		</div>	

    	<ul id="da-thumbs" class="da-thumbs">
	       	<li>
				<div class="intro">
				{% if zona == "todas" %}
					<h4 class="nome">Todos os nossos voluntários</h4>
					<i class="fa fa-arrow-circle-right"></i>
				{% else %}
					<h4 class="nome">Os voluntários da</h4>
					<h4 class="zona">zona: {{ zona }}</h4>
					<i class="fa fa-arrow-circle-right"></i>
				{% endif %}
				</div>
			</li>
			{% for voluntario in collection %}
				{% set validVoluntario = false %}
				{% for zonaDoVoluntario in voluntario.header.zona %}
					{% if zonaDoVoluntario|lower == zona|lower %}	
						{% set validVoluntario = true %}
					{% endif %}
				{% endfor %}

				{% if validVoluntario == true or zona == "todas" %}				
			  	{% set img = voluntario.media.images|first %}
					<li class="active">
						<a href="{{ voluntario.url }}">
							<img src="{{ theme_url }}/images/loading_spinner.gif" alt="" data-echo="{{ img.resize(450, 300).url }}">
							<div class="texto">
								<h4 class="nome">{{ voluntario.title }}</h4>
								<p class="zona">Zona(s): {{ voluntario.header.zona|join(',') }}</p>

								{% if voluntario.header.coordenador %}
								<p class="coordenador">Coordenador: {{ voluntario.header.coordenador|join(',') }}</p>
								{% endif %}

								{% if voluntario.header.email %}
								<p class="email">Email: {{ voluntario.header.email }}</p>			
								{% endif %}
								
								{% if voluntario.header.telefone %}
								<p class="telefone">Telefone: {{ voluntario.header.telefone }}</p>
								{% endif %}
							</div>
						</a>
					</li>
				{% endif %}
			{% endfor %}            	
        </ul>

		{% if zona != "todas" %}
		{% set mapazona = page.media[zona ~ '.jpg'] %}
			{% if mapazona %}
			<div class="mapa-zona">
				<h2>Mapa da Zona</h2>
				<img src="{{ mapazona.url }}">	
			</div>		
			{% endif %}
		{% endif %}
    </section>		   		
{% endblock %}
{% endembed %}