{% if page.header.bloco_visivel == "true" %}
	<section class="module sobre-afso">		
		<h1>{{ page.title }}</h1>
		<h3>{{ page.header.sub_title }}</h3>
		<div class="areas">
			<div class="col-1-3">
				<a href="/associacao">
					<i class="fa fa-home"></i>
				</a>
				<h3>{{ page.header.area1.title}}</h3>
				<p>{{ page.header.area1.text}}</p>
				<a class="button" href="/associacao">Saber mais</a>
			</div>
			<div class="col-1-3">
				<a href="/o_que_fazemos">
					<i class="fa fa-heart"></i>
				</a>
				<h3>{{ page.header.area2.title}}</h3>
				<p>{{ page.header.area2.text}}</p>
				<a class="button" href="/o_que_fazemos">Saber mais</a>
			</div>
			<div class="col-1-3">
				<a href="/intervenientes">
					<i class="fa fa-users"></i>
				</a>
				<h3>{{ page.header.area3.title}}</h3>
				<p>{{ page.header.area3.text}}</p>
				<a class="button" href="/intervenientes">Saber mais</a>
			</div>			
		</div>
	</section>
{% endif %}
